extends layout

block title
    script(src='/script/controller.js')

block content
    h1= title
    p= desc
    div
        div(
            class=''
            ng-controller='selectorController'
        )
            div(class='col-xs-12 col-sm-12 col-md-4')
                select(
                    class='col-xs-12 col-sm-12 col-md-12'
                    ng-model='selectedCounty'
                    ng-options='county as county.county for county in countyList track by county.county_id'
                    ng-change='renderTownListByCountyId()'
                )
            div(class='col-xs-12 col-sm-12 col-md-4')
                select(
                    class='col-xs-12 col-sm-12 col-md-12'
                    ng-model='selectedTown'
                    ng-options='town as town.town for town in townList track by town.town_id'
                    ng-change='renderVillageListByTownId()'
                )
            div(class='col-xs-12 col-sm-12 col-md-4')
                select(
                    class='col-xs-12 col-sm-12 col-md-12'
                    ng-model='selectedVillage'
                    ng-options='village as village.village for village in villageList track by village.village_id'
                    ng-change='renderEvacuationInfoByTownIdAndVillageId()'
                )
            div(class='col-xs-12 col-sm-12 col-md-12 evacuation-info')
                div(class='col-md-3')
                    p
                        label 災害應變中心名稱:
                        input(ng-model='evacuationInfo.responseCenter.name')
                    p
                        label 災害應變中心電話:
                        input(ng-model='evacuationInfo.responseCenter.phoneNumber')

                div(class='col-md-3')
                    p
                        label 警察局名稱:
                        input(ng-model='evacuationInfo.policeStation.name')
                    p
                        label 警察局電話:
                        input(ng-model='evacuationInfo.policeStation.phoneNumber')
                    p
                        label 消防隊名稱:
                        input(ng-model='evacuationInfo.fireBrigade.name')
                    p
                        label 消防隊電話:
                        input(ng-model='evacuationInfo.fireBrigade.phoneNumber')

                div(class='col-md-3')
                    p
                        label 里長姓名:
                        input(ng-model='evacuationInfo.villageHead.name')
                    p
                        label 里長辦公室住址:
                        input(ng-model='evacuationInfo.villageHead.office.address')
                    p
                        label 里長電話:
                        input(ng-model='evacuationInfo.villageHead.office.phoneNumber')
                    p
                        label 里長手機:
                        input(ng-model='evacuationInfo.villageHead.cellphoneNumber')

                div(class='col-md-3')
                    p(style='text-align:center;margin:0;height:244px;')
                        img(
                            ng-class='{"avatar-male": (evacuationInfo.villageHead.gender === "男"), "avatar-female": (evacuationInfo.villageHead.gender === "女")}'
                            ng-src='{{evacuationInfo.villageHead.avatar || "//:0"}}'
                            style='display:inline-block;vertical-align:middle;height:100%;width:100%;max-height:100%;max-width: 100%;'
                        )

            div(class='col-xs-12 col-sm-12 col-md-12 sanctuary-list')
                div(
                    class='col-md-4 sanctuary'
                    ng-repeat='(index, sanctuary) in sanctuaryList'
                )
                    div(
                        class='cancel-button'
                        ng-click='deleteSanctuary(index)'
                    ) X
                    p
                        label 避難所名稱:
                        input(ng-model='sanctuary.name')
                    p
                        label 避難所住址:
                        input(ng-model='sanctuary.address')
                    p
                        label 避難所電話:
                        input(ng-model='sanctuary.phoneNumber')
                    p
                        label 避難所容納人數:
                        input(ng-model='sanctuary.accommodation')
                div(
                    class='col-md-4 click-button add-sanctuary'
                    ng-click='appendSanctuaryList()'
                ) 增加避難所

            div(class='col-xs-12 col-sm-12 col-md-12 button-list')
                div(
                    class='col-sm-12 col-md-6 click-button update-sanctuary'
                    ng-click='updateSanctuaryList()'
                ) 更新資料
                div(
                    class='col-sm-12 col-md-6 click-button delete-sanctuary'
                    ng-click='deleteSanctuaryList()'
                ) 刪除資料
