doctype html
html(ng-app='uploadApp')
  head
    title= title
    meta(
        name='description'
        content= desc
    )
    meta(
        name='og:title'
        content= title
    )
    meta(
        name='og:description'
        content= desc
    )
    meta(
        name='og:type'
        content= website
    )
    link(
        rel='stylesheet'
        href='/icon/octicons/octicons.css'
    )
    link(
        rel='stylesheet'
        href='/stylesheet/reset.css'
    )
    link(
        rel='stylesheet'
        href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
        integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7'
        crossorigin='anonymous'
    )
    link(
        rel='stylesheet'
        href='/icon/octicons/octicons.css'
    )
    link(
        rel='stylesheet'
        href='/icon/octicons/octicons.css'
    )
    link(rel='stylesheet', href='/stylesheet/all.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js')
    script(type='text/javascript').
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-59178595-4', 'auto');
        ga('send', 'pageview');

    block title
  body
    div
      div(class='container')
        block content
    footer
        div(class='container')
            p(class='col-md-12 text-center')
                © jsgao0
                a(href='https://jsgao0.github.io/profile/', target='_blank') About
                a(href='https://g0v.hackpad.com/ml1Hdx1ZUeb', target='_blank') Hackpad
                a(href='https://github.com/jsgao0/Evacuation', target='_blank') Fork
            p(class='col-md-12 text-center')
                span some icons are designed by
                a(href='http://http://www.flaticon.com/') Freepik
